.Hero {
  background-image: url("../../Images/HeroImg.svg");
  height: 416px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.Hero > div {
  padding: 64px 0px;
  text-align: center;
}
.Hero h1 {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: -1.5px;
}
.Hero p {
  font-size: 1rem;
  line-height: 24px;
  margin: 0.5rem auto 4px auto;
  max-width: min(52rem, 90%);
}

@media only screen and (max-width: 880px) {
  .Hero h1 {
    font-size: 2rem;
  }
}
